<h3><i class='fas fa-user-friends' style='font-size:36px'></i> Daily stories</h3>

<div class="section">
    <p class="lead">Create Your Daily Stories and Activities!!</p>
    <i class='fas fa-newspaper' style='font-size:36px'></i>
</div>


<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
